.doc-block {
    padding-bottom: 9px;
}
.validation-error, .help-block {
    color: red;
    font-weight: 500;
    font-size: 14px;
}
.d-block {
    display: block;
}
form input {
    box-shadow: none !important;
}
label{
	font-weight: 500;
}